# SSLCommerz Sandbox Credentials
SSL_STORE_ID=testbox
SSL_STORE_PASS=qwerty

# Callback URLs
SUCCESS_URL=http://localhost:4000/payment/success
FAIL_URL=http://localhost:4000/payment/fail
CANCEL_URL=http://localhost:4000/payment/cancel
IPN_URL=http://localhost:4000/api/ipn

# Frontend URL
FRONTEND_URL=http://127.0.0.1:5500

# Server Port
PORT=4000
